<main class="main-content">
  <header class="h-screen flex lg:items-center lg:justify-center" id="home">
    <img
      src="assets/background-landing.jpg"
      class="w-full h-screen bg-cover object-cover darken-image z-1 relative"
      alt=""
    />
    <div
      class="container pl-10 absolute text-center pt-64 lg:pt-56 xl:pl-80 xl:pt-0"
    >
      <h1 class="uppercase text-2xl xl:text-4xl font-bold drop-shadow-lg">
        Dynamisez Votre Routine Sportive avec un
      </h1>
      <h1 class="uppercase text-2xl md:text-4xl font-bold drop-shadow-lg pt-10">
        Coaching Personnalisé et Passionné
      </h1>
      <p class="pt-14 md:pt-44 md:text-2xl drop-shadow-lg pb-10">
        Réservez votre première séance dès maintenant !
      </p>
      <button class="btn drop-shadow-lg animate-bounce hover-stroke-red">
        <a href="#form">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </a>
      </button>
    </div>
  </header>
  <section id="about" class="py-24 2xl:px-64">
    <h2
      class="text-center text-white text-2xl md:text-4xl font-bold mx-16 pb-5"
    >
      Bienvenue chez Cocoricoach Sportif
    </h2>
    <div class="bar mx-auto h-0.5 w-12 xl:w-80 mb-16"></div>
    <div
      class="flex flex-col items-center xl:justify-center xl:flex-row xl:space-x-72 xl:mx-24 mx-16"
    >
      <img
        class="w-96 pb-16 xl:pb-0"
        src="assets/Logo.png"
        alt="Cocoricoach Sportif"
      />
      <article class="text-justify xl:text-start">
        <p class="text-l md:text-xl">
          Je m'appelle <span class="font-bold text-white">Lou Noël</span>,
          fondateur et coach personnel de
          <I class="text-white">Cocoricoach Sportif</I>, récemment diplômé d'une
          licence STAPS avec une spécialisation en préparation physique. En tant
          qu'entraîneur sportif passionné, je suis déterminé à offrir des
          services de coaching personnalisés qui transcendent les attentes.
        </p>
        <div class="bar mx-auto my-8 h-0.5 w-20"></div>
        <p class="pt-8 text-l md:text-xl">
          Mon enthousiasme contagieux et mon énergie débordante font de chaque
          séance un moment dynamique et motivant. En tant que coach, je crois en
          la capacité de chacun à se dépasser, et c'est avec cet état d'esprit
          que j'aide mes clients à atteindre leurs objectifs sportifs et de
          bien-être. Mon engagement envers chaque personne que je guide va
          au-delà des exercices physiques ; je m'efforce de créer une connexion
          authentique pour un soutien optimal. Avec une approche à la fois
          professionnelle et empathique, je m'assure que chaque client, du
          débutant au sportif aguerri, se sente soutenu dans son parcours
          personnel.
        </p>
        <div class="bar mx-auto my-8 h-0.5 w-20"></div>
        <p class="pt-8 text-l md:text-xl">
          Rejoignez-moi chez <I class="text-white">Cocoricoach Sportif</I> pour
          une expérience de coaching où le professionnalisme, l'énergie positive
          et la réussite personnelle sont au rendez-vous.
        </p>
        <div class="w-full flex flex-col items-center pt-10">
          <h3 class="text-2xl text-white pb-10 text-center">Diplôme :</h3>
          <p class="text-sm pb-10">
            Cliquez ou scannez le QR code pour découvrir la licence STAPS
            professionnelle de Lou Noël, validée par le Ministère des Sports.
          </p>
          <a
            href="https://recherche-educateur.sports.gouv.fr/CartePro/00623ED0253"
            class="transition-transform ease-in-out duration-300 hover:scale-105"
            target="_blank"
          >
            <img
              src="assets/Qr-code.png"
              alt="Qr-code diplome STAPS"
              class="w-36 lg:w-46"
            />
          </a>
        </div>
      </article>
    </div>
  </section>
  <section id="services" class="py-11 w-full">
    <div
      class="grid grid-cols-1 xl:grid-cols-2 place-items-center bg-white opacity-70 gap-5 px-auto xl:px-96 py-10 pr-7"
    >
      <!-- Plan Nutritionnel
      <div class="card w-64 pt-0 text-center">
        <img
          src="assets/Icone/nutrition.png"
          alt="logo plan nutritionnel"
          class="w-20 md:w-36 mx-auto"
        />
        <h3 class="text-l font-bold pt-3 pb-7">Plan Nutritionnel</h3>
        <p class="text-sm text-justify">
          Un plan nutritionnel personnalisé est la clé pour atteindre vos
          objectifs de santé et de forme physique. Il est conçu pour s'adapter à
          votre style de vie, vos préférences alimentaires et vos besoins
          spécifiques, vous aidant à nourrir votre corps de manière optimale
          tout en profitant de chaque repas.
        </p>
      </div> -->

      <div class="card w-64 pt-0 text-center">
        <img
          src="assets/Icone/programme-de-formation.png"
          alt="logo programme de formation"
          class="w-20 xl:w-36 mx-auto"
        />
        <h3 class="text-l md:text-xl font-bold pt-3 pb-7">
          Programme Personnalisé
        </h3>
        <p class="text-sm md:text-lg text-justify">
          Le programme personnalisé est conçu pour s'adapter à vos objectifs
          uniques, que ce soit pour la perte de poids, le gain musculaire, ou
          l'amélioration de l'endurance. Chaque séance est soigneusement
          planifiée pour maximiser vos résultats, en tenant compte de votre
          niveau de forme actuel et de votre progression.
        </p>
      </div>

      <div class="card w-64 pt-0 text-center">
        <img
          src="assets/Icone/relation-amicale.png"
          alt="logo coaching direct"
          class="w-20 xl:w-36 mx-auto"
        />
        <h3 class="text-l md:text-xl font-bold pt-3 pb-7">Coaching Direct</h3>
        <p class="text-sm md:text-lg text-justify">
          Le coaching en direct vous offre une expérience personnalisée et
          interactive. C'est l'occasion de bénéficier d'un accompagnement
          direct, de conseils adaptés en temps réel et d'un soutien constant
          pour vous aider à rester motivé et concentré sur vos objectifs.
        </p>
      </div>
    </div>
  </section>
  <button
    id="arrowButton"
    class="z-100 fixed animate-bounce bottom-1 right-1 hidden hover-stroke-red"
  >
    <a href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-16 h-16"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
    </a>
  </button>
</main>
