@import "../../../styles.scss";

.background-contact {
  width: 100%;
  background-color: $primary-color;
}
.background-form {
  padding: 3rem;
  background-color: rgba($color: white, $alpha: 0.7);
  border-radius: 20px;

  @media (max-width: 1024px) {
    border-radius: 0;
  }
}

.button {
  background-color: $special-color;
}
