<footer id="footer">
  <div class="w-full px-10 p-4 bg-white/70">
    <div class="flex items-center justify-between">
      <a href="#" class="logo pl-10 md:pl-40 pr-10 md:pr-0">
        <img src="assets/Logo.png" alt="Logo" class="w-10 md:w-16" />
      </a>
      <ul class="flex flex-wrap items-center text-sm font-medium pr-0 md:pr-40">
        <li>
          <a href="#" class="hover:underline me-4 md:me-6 hover-red">Accueil</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6 hover-red"
            >A Propos</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6 hover-red">Contact</a>
        </li>
      </ul>
    </div>
    <div class="bar mx-auto my-8 h-0.5 w-full"></div>
    <span class="block text-sm text-center"
      >© 2024 <a href="#" class="hover:underline">Cocoricach™</a>. Tous droits
      réservés.</span
    >
    <a
      class="text-xs text-white flex text-center mt-4 opacity-10"
      href="https://www.flaticon.com/fr/icones-gratuites/exercice"
      title="exercice icônes"
      >Exercice icônes créées par Ahmad Roaayala - Flaticon</a
    >
  </div>
</footer>
