<nav
  class="nav fixed w-full z-50 bg-white/70 backdrop-blur-sm shadow-md py-8 xl:py-4 pr-11"
>
  <div class="flex justify-between items-center px-4 xl:space-x-20">
    <a href="#" class="logo pl-10 xl:ml-40">
      <img src="assets/Logo.png" alt="Logo" class="w-16" />
    </a>
    <div class="xl:flex space-x-28 hidden xl:pr-40">
      <a href="#" class="text-md font-bold hover-red">ACCUEIL</a>
      <a href="#about" class="text-md font-bold hover-red">A PROPOS</a>
      <a href="#form" class="text-md font-bold hover-red">CONTACT</a>
    </div>
    <button (click)="toggleMenu()" class="burger scale-150 xl:hidden">
      <fa-icon [icon]="menuOpen ? faTimes : faBars"></fa-icon>
    </button>
  </div>
  <div
    [ngClass]="{ hidden: !menuOpen }"
    class="flex flex-col items-center justify-center z-50"
    [class.hidden]="!menuOpen"
  >
    <a href="#" class="text-lg font-bold pb-6 hover-red">ACCUEIL</a>
    <a href="#about" class="text-lg font-bold pb-6 hover-red">A PROPOS</a>
    <a href="#form" class="text-lg font-bold hover-red">CONTACT</a>
  </div>
</nav>
