@import "../../../styles.scss";

.flag-banner-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.flag-banner {
  position: absolute;
  width: 30px;
  top: 0;
  right: -30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  .blue-band,
  .white-band,
  .red-band {
    flex: 1;
    width: 100%;
  }

  .blue-band {
    background-color: $primary-color;
    margin-left: -1px;
  }

  .white-band {
    background-color: $secondary-color;
    margin-left: -1px;
  }

  .red-band {
    background-color: $special-color;
    margin-left: -1px;
  }
}

.sidebar-toggle-button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222);
}
@keyframes slideLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.sidebar-toggle-button {
  animation: slideLeftRight 1s ease-in-out infinite;
}

.sidebar {
  height: 100vh;
  width: 500px;
  background-color: $primary-color;
  color: $secondary-color;
  position: fixed;
  top: 0;
  left: -500px;
  transition: left 0.3s;
  z-index: 1000;

  &.open {
    left: 0;
  }
  @media (max-width: 768px) {
    width: 60%;
    left: -60%;
    &.open {
      left: 0;
    }
  }
  #sidebar {
    @media (max-width: 640px) {
      padding-top: 10rem;
    }
    @media (max-device-width: 360px) {
      padding-top: 20rem;
    }
  }
}
